<div class="background_color" style="border-top: none;">
	<div class="row">
		<%= render partial: "shared/menu" %>
		<div class="span9 content">
			<div class="title_page">
				<p><b>Call for papers</b></p>
				<p>The Fourth International Workshop on Vietnamese Language and Speech Processing (VLSP 2016)</p>
			</div>
			<div style="text-align: center;word-wrap: break-word; margin-left: 100px; width: 480px;">
				<p><b>In conjunction with the 12th IEEE - RIVF Conference on Computing and Communication Technologies (RIVF 2016)</b></p>
			</div>
			<div>
			<br>
<p><b>Workshop objectives:</b></p>
<p>The goal of this workshop series is to attempt a synthesis of research in Vietnamese language and speech processing and to bring together researchers and professionals working in this domain. The VLSP 2016 edition will be composed of two parts: one part for VLSP software demonstration with technical reports, and an evaluation campaign on the tasks of named-entity recognition and opinion mining. As is traditional, one panel for the VLSP community exchange and discussion will be organized. </p>

<p><b>Software demonstration</b></p>

<p>All applications dealing with Vietnamese text processing or speech processing are welcome. Each demo system should be provided with a technical report.</p>

<p><b>Evaluation campaign</b></p>

<p>The evaluation campaign deals with two different tasks. One concerns named-entity recognition (NER), an essential task for information extraction applications. The evaluation will be limited in considering 3 types of entity: person, organization and location. The other concerns an opinion mining (OM) tool at sentence level, in which each given sentence should be classified as negative, positive or neutral. </p>
<p>The participants to the evaluation campaign will be asked to present their system in a dedicated short paper.</p>
<p>This campaign aims at automatically evaluating Vietnamese NER and OM systems, in order to promote the most efficient methods for these important tools. The organization of this campaign with sponsor from academia and industry will permit to build and offer to the VLSP community gold datasets for training and testing NER and OM systems. <p>

<p><b>Paper submission:</b></p>

<p>System authors are invited to submit papers of up to 8 pages, in English. Please note that this workshop is only concerned with articles presenting software submitted for demonstration or evaluation. All papers will be submitted online, in PDF format using the IEEE standard template, to the workshop management website.</p>

<p><b>Important dates:</b></p>

<p>June 30, 2016:            Sample data and evaluation measure publication   </p>

<p>July 5, 2016:               Registration to the campaign</p>

<p>August 30, 2016:        Distribution of training data for NER and OM tasks</p>

<p>September 5, 2016:    Registration to the campaign closed</p>

<p>October 3, 2016:         Test data release</p>

<p>October 7, 2016:         System result submission</p>

<p>October 9, 2016:         Demonstration system and technical report submission deadline</p>

<p>October 28, 2016:       Registration to the workshop deadline</p>

<p>November 7, 2016:    Workshop</p>

<p><b>Workshop Co-chairs:</b></p>

<p>Le Anh Cuong, Ton Duc Thang University, Ho Chi Minh city, Vietnam, lacuong@it.tdt.edu.vn</p>

<p>Nguyen Thi Minh Huyen, VNU University of Science, Hanoi, Vietnam, huyenntm@hus.edu.vn</p>
			</div>
		</div>
	</div>
</div>