<div class="background_color"  style="border-top: none;">
	<div class="row">
		<%= render partial: "shared/menu" %>
		<div class="span9 content">
			<div class="title_page">
				<p><b>Download papers</b></p>
			</div>
		</div>
	</div>
</div>