<div class="background_color" style="border-top: none;">
	<div class="row">
		<%= render partial: "shared/menu" %>
		<div class="span9 content">
			<div class="title_page">
				
				<p><b>Evaluation campaign</b></p>
			</div>
			
			<div>
			

<p><b>Evaluation campaign</b></p>

<p>The evaluation campaign deals with two different tasks. One concerns named-entity recognition (NER), an essential task for information extraction applications. The evaluation will be limited in considering 3 types of entity: person, organization and location. The other concerns an opinion mining (OM) tool at sentence level, in which each given sentence should be classified as negative, positive or neutral. </p>
<p>The participants to the evaluation campaign will be asked to present their system in a dedicated short paper.</p>
<p>This campaign aims at automatically evaluating Vietnamese NER and OM systems, in order to promote the most efficient methods for these important tools. The organization of this campaign with sponsor from academia and industry will permit to build and offer to the VLSP community gold datasets for training and testing NER and OM systems. <p>
			</div>
		</div>
	</div>
</div>