<div class="background_color" style="border-top: none;">
	<div class="row">
		<%= render partial: "shared/menu" %>
		<div class="span9 content">
			<div class="title_page">
				
				<p>The Fourth International Workshop on Vietnamese Language and Speech Processing (VLSP 2016)</p>
			</div>
			<div style="text-align: center;word-wrap: break-word; margin-left: 100px; width: 480px;">
				<p><b>In conjunction with the 12th IEEE - RIVF Conference on Computing and Communication Technologies (RIVF 2016)</b></p>
			</div>
			<div>
			<br>
				<p><b>Workshop objectives:</b></p>

<p>The goal of this workshop series is to attempt a synthesis of research in Vietnamese language and speech processing and to bring together researchers and professionals working in this domain. The VLSP 2016 edition will be composed of two parts: one part for VLSP software demonstration with technical reports, and an evaluation campaign on the tasks of named-entity recognition and opinion mining. As is traditional, one panel for the VLSP community exchange and discussion will be organized. </p>

<p><b>Software demonstration</b></p>

<p>All applications dealing with Vietnamese text processing or speech processing are welcome. Each demo system should be provided with a technical report.</p>

<p><b>Evaluation campaign</b></p>

<p>The evaluation campaign deals with two different tasks. One concerns named-entity recognition (NER), an essential task for information extraction applications. The evaluation will be limited in considering 3 types of entity: person, organization and location. The other concerns an opinion mining (OM) tool at sentence level, in which each given sentence should be classified as negative, positive or neutral. </p>
<p>The participants to the evaluation campaign will be asked to present their system in a dedicated short paper.</p>
<p>This campaign aims at automatically evaluating Vietnamese NER and OM systems, in order to promote the most efficient methods for these important tools. The organization of this campaign with sponsor from academia and industry will permit to build and offer to the VLSP community gold datasets for training and testing NER and OM systems. <p>
			</div>
		</div>
	</div>
</div>