<div class="background_color" style="border-top: none;">
	<div class="row">
		<%= render partial: "shared/menu" %>
		<div class="span9 content">
			<div class="title_page">
				<p><b>impotant dates</b></p>
			</div>
			<div>
				<p><b>Important dates:</b></p>

<p>June 30, 2016:            Sample data and evaluation measure publication   </p>

<p>July 5, 2016:               Registration to the campaign</p>

<p>August 30, 2016:        Distribution of training data for NER and OM tasks</p>

<p>September 5, 2016:    Registration to the campaign closed</p>

<p>October 3, 2016:         Test data release</p>

<p>October 7, 2016:         System result submission</p>

<p>October 9, 2016:         Demonstration system and technical report submission deadline</p>

<p>October 28, 2016:       Registration to the workshop deadline</p>

<p>November 7, 2016:    Workshop</p>
			</div>
		</div>
	</div>
</div>