<div class="background_color" style="border-top: none;">
	<div class="row">
		<%= render partial: "shared/menu" %>
		<div class="span8 content">
			<div class="title_page">
				origanization
			</div>
			origanization content
		</div>
	</div>
</div>