<div class="background_color" style="border-top: none;">
	<div class="row">
		<%= render partial: "shared/menu" %>
		<div class="span9 content">
			<div class="title_page">
				<p><b>Paper submission</b></p>
			</div>
			<div>
				<p><b>Paper submission:</b></p>

<p>System authors are invited to submit papers of up to 8 pages, in English. Please note that this workshop is only concerned with articles presenting software submitted for demonstration or evaluation. All papers will be submitted online, in PDF format using the IEEE standard template, to the workshop management website.</p>
<%= link_to "http://www.ieee.org/conferences_events/conferences/publishing/templates.html", "http://www.ieee.org/conferences_events/conferences/publishing/templates.html", target: "_blank" %>
			</div>
		</div>
	</div>
</div>