<div class="background_color" style="border-top: none;">
	<div class="row">
		<%= render partial: "shared/menu" %>
		<div class="span9 content">
			<div class="title_page">
				<p><b>Program committee</b></p>
			</div>
			<div>
<p><b>Workshop Co-chairs:</b></p>

<p>Le Anh Cuong, Ton Duc Thang University, Ho Chi Minh city, Vietnam, lacuong@it.tdt.edu.vn</p>

<p>Nguyen Thi Minh Huyen, VNU University of Science, Hanoi, Vietnam, huyenntm@hus.edu.vn</p>
<p><b>Program Committee (to be completed):</b></p>
<p>1.      Dinh Dien, University of Science, VNU-HCM, Vietnam (co-chair)</p>
<p>2.      Luong Chi Mai, Institute of Information Technology, VAST, Vietnam (co-chair)</p>
<p>3.      Cao Hoang Tru, University of Technology, VNU-HCM, Vietnam</p>
<p>4.      Ho Bao Quoc, University of Science, VNU-HCM, Vietnam</p>
<p>5.      Ho Tu Bao, JAIST, Japan</p>
<p>6.      Le Anh Cuong, Ton Duc Thang University, Ho Chi Minh city, Vietnam</p>
<p>7.      Le Hong Phuong, University of Science, VNU, Hanoi, Vietnam</p>
<p>8.      Le Thanh Huong, Hanoi University of Science and Technology, Vietnam</p>
<p>9.      Ngo Xuan Bach, Posts and Telecommunications Institute of Technology, Hanoi, Vietnam</p>
<p>10.    Nguyen Le Minh, JAIST, Japan</p>
<p>11.    Nguyen Phuong Thai, University of Engineering and Technology, VNU, Hanoi, Vietnam</p>
<p>12.    Nguyen Thi Minh Huyen, University of Science, VNU, Hanoi, Vietnam</p>
<p>13.    Nguyen Van Vinh, University of Engineering and Technology, VNU, Hanoi, Vietnam</p>
<p>14.    Nguyen Viet Cuong, HPC Systems, Inc., Japan</p>
<p>15.    Nguyen Viet Son, Hanoi University of Science and Technology, Vietnam</p>
<p>16.    Pham Bao Son, University of Engineering and Technology, VNU, Hanoi, Vietnam</p>
<p>17.    Phan Thi Tuoi, University of Technology, VNU-HCM, Vietnam</p>
<p>18.    Phan Xuan Hieu, University of Engineering and Technology, VNU, Hanoi, Vietnam</p>
<p>19.    Tran Do Dat, Ministry of Science and Technology, Vietnam</p>
<p>20.    Vu Hai Quan, University of Science, VNU-HCM, Vietnam</p>
<p>21.    Vu Tat Thang, Institute of Information Technology, VAST, Vietnam</p>
			</div>
		</div>
	</div>
</div>