<div class="background_color" style="border-top: none;">
	<div class="row">
		<%= render partial: "shared/menu" %>
		<div class="span9 content">
			<div class="title_page">
				<p><b>Venue</b></p>
			</div>
			<div>
				<p>The VLSP 2016 workshop is organized in conjunction with the RIVF 2016 conference. Please find all the information related to the conference site on the main <%= link_to "conference website.", "http://rivf2016.tlu.edu.vn/tabid/394/catid/947/local-information.aspx", target: "_blank" %> </p>
			</div>
			
		</div>
	</div>
</div>