<div class="span3"">
	<div>
		<%= link_to "MAIN MENU", root_path, class: "btn btn-large btn-primary", style: "width: 150px; height: 10px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;" %>
		<ul class="nav nav-pills nav-stacked">
		<table width="190">
	    	<tr><td><li class="menu_vertical"><%= link_to "Home", home_path %> </li></td></tr>
			<tr><td><li class="menu_vertical"><%= link_to "Call for Papers", call_for_papers_path %> </li></td></tr>
			<!-- <tr><td><li class="menu_vertical"><%#= link_to "Organization", origanization_path %> </li></td></tr> -->
			<tr><td><li class="menu_vertical"><%= link_to "Program Committee", program_committee_path %> </li></td></tr>
			<tr><td><li class="menu_vertical"><%= link_to "Evaluation Campaign", evaluation_campaign_path %> </li></td></tr>
			<tr><td><li class="menu_vertical"><%= link_to "Workshop Program", program_overview_path %> </li></td></tr>
			<tr><td><li class="menu_vertical"><%= link_to "Paper Submission", paper_submission_path %> </li></td></tr>
			<tr><td><li class="menu_vertical"><%= link_to "Post Proceedings", post_proceedings_path %> </li></td></tr>
			<tr><td><li class="menu_vertical"><%= link_to "Important Dates", important_dates_path %> </li></td></tr>
			<tr><td><li class="menu_vertical"><%= link_to "Venue", venue_path %> </li></td></tr>
			<!-- <tr><td><li class="menu_vertical"><%#= link_to "Further Information", futher_information_path %> </li></td></tr> -->
			<tr><td><li class="menu_vertical"><%= link_to "Previous Workshops", previous_workshops_path %> </li></td></tr>
			<tr><td><li class="menu_vertical"><%= link_to "Download Papers", download_papers_path %> </li></td></tr>
		</table>
	  	</ul>
	</div>
</div>