<div class="footer background_color">
	<div style="margin-top: 30px; margin-bottom: 30px; color: rgb(0, 138, 255); text-align: center;">
		<b>The Fourth International Workshop on Vietnamese Language and Speech Processing (VLSP 2016)</b>
	</div>
	
</div>